	html, body
	{
		height: 100%;
	}

	body
	{
		margin: 0px;
		padding: 0px;
		background: #111111;
		font-family: 'Didact Gothic', sans-serif;
		font-size: 12pt;
		font-weight: 200;
		color: #FFF;
	}


	h1, h2, h3
	{
		margin: 0;
		padding: 0;
	}

	p, ol, ul
	{
		margin-top: 0;
	}

	ol, ul
	{
		padding: 0;
		list-style: none;
	}

	p
	{
		line-height: 180%;
	}

	strong
	{
	}

	a
	{
		color: #ee0000;
	}

	a:hover
	{
		text-decoration: none;
	}

	.container
	{
		overflow: hidden;
		margin: 0em auto;
		width: 1200px;
	}

/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
	}

	.image img
	{
		display: block;
		width: 100%;
	}

	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}

	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}

	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}

	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.style1
	{
	}



/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		padding: 1em 2em 1em 2em;
		letter-spacing: 0.10em;
		margin-top: 2em;
		padding: 1.40em 3em;
		border: 2px solid rgba(255,255,255,1);
		border-radius: 6px;
		text-decoration: none;
		font-weight: 700;
		font-size: 1em;
		color: #FFF;
	}

	.button-alt
	{
		padding: 1em 2em;
		border-color: rgba(0,0,0,.8);
		color: rgba(0,0,0,.8);
	}

/*********************************************************************************/
/* 4-column                                                                      */
/*********************************************************************************/

	.box
	{
		width: 230px;
		float: left;
		margin-right: 10px;
	}


/*********************************************************************************/
/* 3-column                                                                      */
/*********************************************************************************/

	.boxA,
	.boxB,
	.boxC
	{
		width: 384px;
	}

	.boxA,
	.boxB
	{
		float: left;
		margin-right: 20px;
	}

	.boxC
	{
		float: right;
	}

/*********************************************************************************/
/* 2-column                                                                      */
/*********************************************************************************/

	.tbox1,
	.tbox2
	{
		width: 575px;
	}

	.tbox1
	{
		float: left;
	}

	.tbox2
	{
		float: right;
	}


/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 3em;
	}

	.title h2
	{
		font-size: 2.7em;
	}

	.title .byline
	{
		font-size: 1.3em;
		color: rgba(255,255,255,0.60);
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#wrapper
	{
		position: relative;
		padding: 5em 0em 5em 0em;
		background: #FFF;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header-wrapper
	{
		position: relative;
		padding: 5em 0em 5em 0em;
		background: #111111 url(/static/images/header-bg4.png) no-repeat center;
		background-size: cover;
	}

	#header
	{
		position: relative;
		padding: 5em 0em;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		position: absolute;
		top: 3.6em;
		left: 0;
	}

	#logo h1
	{
		font-size: 2.6em;
		color: #79C255;
	}

	#logo a
	{
		text-decoration: none;
		color: rgba(255,255,255,1);
	}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
	{
		position: absolute;
		top: 4.5em;
		right: 0;
	}

	#menu ul
	{
		display: inline-block;
	}

	#menu li
	{
		display: block;
		float: left;
		text-align: center;
	}

	#menu li a, #menu li span
	{
		padding: 1em 1.5em;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 0.8em;
		color: rgba(255,255,255,0.80);
	}
	 #menu li:hover a
	{
		color: #dbdbdb;
	}

	#menu li:hover a, #menu li.active a, #menu li.active span
	{
	}

	#menu .active a
	{
		border: 2px solid rgba(255,255,255,1);
		border-radius: 6px;
		color: rgba(255,255,255,1);
	}

	#menu .icon
	{
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		padding-top: 10em;
		text-align: center;
	}

	#banner .title h2
	{
		font-size: 4em;
	}

	#banner .title .byline
	{
		font-size: 2em;

	}

	#banner .button
	{
		margin-top: 6em;
		padding: 1.40em 3em;
		border: 2px solid rgba(255,255,255,1);
		border-radius: 6px;
		font-weight: 700;
		font-size: 1em;

	}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page
	{
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
		padding: 2em 0em;
		border-top: 1px solid rgba(0,0,0,0.08);
	}

	#copyright p
	{
		text-align: center;
		font-size: 1em;
		color: rgba(255,255,255,0.3);
	}

	#copyright a
	{
		text-decoration: none;
		color: rgba(255,255,255,0.6);
	}


/*********************************************************************************/
/* Welcome                                                                       */
/*********************************************************************************/

	#welcome
	{
		position: relative;
		padding: 7em 0em 7em 0em;
		background: #111111 url(/static/images/header-bg.png) no-repeat center;
		background-size: cover;
		text-align: center;
	}

	#welcome .container
	{
		width: 1000px;
		padding: 0px 100px;
		color: rgba(255,255,255,0.8);
	}

	#welcome a
	{
		color: rgba(255,255,255,1);
	}


/*********************************************************************************/
/* Extra                                                                         */
/*********************************************************************************/


/*********************************************************************************/
/* match                                                                     */
/*********************************************************************************/
	#mymatchcontainer{
	    position: relative;
        width: 82%;
	}

	ul,li{
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .match .slide{

        margin: 20px 20px;
    }

    .match .match-list{

        width: 1440px;
        height: 300px;
        padding: 40px 20px;
		margin-left: 24px;
        vertical-align: middle;
        display: inline-block;
        white-space: nowrap;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .match .match-item{
        width: 270px;
        height:270px;
        display: inline-block;
        margin: 0 10px 10px;
        box-shadow: 0 1px 6px 2px rgba(1,1,1,0.6);
        border-radius: 2px;
        border: 2px solid rgba(1,1,1,0.6);
        transition: all 0.5s;
        position: relative;
        cursor: pointer;
    }
	.match .match-item.img{
		width:auto;
		height: auto;
	}
    .match .match-item:hover{
        transform: scale(1.05);
        box-shadow: 0 1px 8px 4px rgba(1,1,1,0.8);
        border: 2px solid rgba(1,1,1,0.8);
    }

    .match .match-item-active{
        width: 270px;
        height: 270px;
        transform: scale(1.05);
        display: inline-block;
        margin: 0 10px 10px;
        box-shadow: 0 1px 10px 4px rgba(1,1,1,0.8);
        border-radius: 2px;
        border: 2px solid #dbdbdb;
        position: relative;
        cursor: pointer;
    }

    .match .info{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 250px;
        height: 0;
        overflow: hidden;
        padding: 0 10px;
        z-index: 200;
        transition: all 0.5s;
        background-color: rgba(0,0,0,0.6);
    }

    .match .match-item-active .info{
        width: 250px;
        height:60px;
    }

    .match .match-item:hover > .info{
        height: 60px;
    }

    .match .info p{
        font-size: 15px;
        font-family:  'Didact Gothic', sans-serif;
        color: #f0f0f0;
        margin: 9px 0;
        padding: 0;
        line-height: 15px;
        height: 17px;
        text-shadow: 1px 1px rgba(1,1,1,0.6);
    }

    .match .info .color-blue{

         color: #ce7f4f;
		font-weight:bold;
        font-size: 18px;
    }


	.match .prev, .next {
		  cursor: pointer;
		  position: absolute;
		  top: 50%;
		  width: auto;
		  margin-top: -22px;
		  padding: 16px;
		  margin-left: 0px;
		  margin-right: 0px;
		  color: white;
		  font-weight: bold;
		  font-size: 18px;
		  transition: 0.6s ease;
		  border-radius: 0 3px 3px 0;
		  z-index:3;/*显示在上一层*/
	}

	.next {
	  right: 0px;
	  border-radius: 3px 0 0 3px;
	}
	.prev {
	  Left: 0px;
	  border-radius: 3px 0 0 3px;
	}

	/* On hover, add a black background color with a little bit see-through */
	.prev:hover, .next:hover {
	  background-color: rgba(0,0,0,0.8);
	}
